:root{
--primary: #388ce7;
--secondary: #3bdea8;
--background: #fdfefe;
--text: #191919;
--shadow: #3e3c41;
--gradient: linear-gradient(62.09deg, #388CE7 -9.13%, #399FD9 51%, #3BDEA8 132.83%);
}

html, body{
    font-family: 'Dosis', sans-serif;
    background-color: var(--background);
}


.tria{
    font-size: xx-large;
    font-weight: bold;
    color: var(--primary);
}

.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 100px;
    font-weight: bold;
    color:var(--background);
}

.btn-success{
    background-color: var(--secondary);
    border-color: var(--secondary);
    border-radius: 100px;
    font-weight: bold;
    color:var(--background);
}

.form-control{
    border-radius: 100px;
}

li{
    font-weight: bold;
}

h1 .tria{
    margin: 16px;
}

h2, h3, h4{

    font-weight: bold;
}

.cover-first{
    background-color: var(--background);
    height: 100%;
}

.cover-secound{
    height: 150%;
    /* background-image: var(--gradient); */
    display: block;
    background-image: url(./images/bg.svg);
    background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom center, 50%, 50%;
}

.glassmorphism{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 100px;
}

.cover-third{
    background-color: var(--background);
}

.navbar{
    background-color: var(--background) !important;
}

.img-mini{
    width: 100px;
    height: auto;
}

.input-success{
    border:  solid var(--secondary);
    transition: 100ms;
}

.text-focus{
    font-weight: bold;
    font-size: larger;
    color: var(--primary);
    transition: 100ms;
}