@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    ::-moz-selection {
        /* Code for Firefox */
        color: #fdfefe;
        background: #388ce7;
    }

    ::selection {
        color: #fdfefe;
        background: #388ce7;
    }
    @font-face {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400 800;
        font-display: swap;
        src: url(./fonts/Figtree-VariableFont_wght.ttf) format('truetype');
    }

    html,
    body {
        font-size: 18px;
        overflow-x: hidden;
        font-family: 'Figtree', sans-serif;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        overflow: hidden;
    }
}
@layer components {
    html,
    body {
        @apply scroll-smooth bg-white;
    }
    .app {
        @apply h-screen w-screen overflow-y-auto overflow-x-hidden;
    }
    .navbar {
        @apply relative top-0 right-0 flex w-screen flex-col bg-white px-32 py-5 shadow-md duration-1000 md:flex-row;
    }
    .logo-side {
        @apply flex flex-none justify-center;
    }
    .btn-menu {
        @apply absolute top-0 right-0 flex p-5 md:hidden;
    }
    .nav-items {
        @apply mt-5 flex flex-1 flex-col items-start space-y-3 overflow-hidden capitalize transition-all duration-1000 md:mx-12 md:mt-0 md:flex-row md:items-end md:space-x-5;
    }
    .nav-item {
        @apply w-full text-center text-lg font-bold text-black duration-500 hover:text-blue md:w-fit md:text-sm;
    }
    .hero {
        @apply my-5 flex min-w-full flex-col items-center justify-center space-y-10 px-3 md:flex-row md:flex-nowrap md:pl-32 md:pr-0;
    }
    .hero-text-side {
        @apply flex h-full w-full flex-1 flex-col justify-center space-y-3 text-center md:text-start;
    }
    .hero-image-side {
        @apply flex  h-full w-full flex-1 justify-center md:mt-0;
    }
    .hero-title {
        @apply text-3xl font-extrabold leading-snug tracking-tight md:text-[2.8rem];
    }
    .hero-description {
        @apply text-base font-medium;
    }
    .buttons {
        @apply flex w-full flex-row flex-nowrap justify-center space-x-3 md:justify-start;
    }
    .btn-green,
    .btn-blue {
        @apply rounded-full py-1 px-4 text-base font-semibold capitalize text-white;
    }
    .btn-blue {
        @apply bg-blue;
    }
    .btn-green {
        @apply bg-green;
    }
    .why-tria {
        @apply relative h-fit min-h-full w-screen text-center text-white md:p-10;
    }
    .why-tria-background {
        @apply flex h-full w-full flex-col space-y-10 rounded-[3rem] bg-opacity-20 bg-gradient-to-tr from-[#388CE7]/75 via-[#399FD9]/75 to-[#3BDEA8]/75 bg-clip-padding py-10 px-5 backdrop-blur-sm backdrop-filter;
    }
    .star1 {
        @apply absolute right-1/2 -top-36 hidden md:flex;
    }
    .star2 {
        @apply absolute -left-32 top-52 hidden md:flex;
    }
    .star3 {
        @apply absolute -bottom-32 right-0 hidden rotate-45 md:flex;
    }
    .why-tria-title {
        @apply w-full text-3xl font-semibold;
    }
    .why-tria-cards {
        @apply flex flex-col flex-nowrap items-center justify-around space-y-10 md:flex-row md:items-baseline md:space-x-10;
    }
    .why-tria-card {
        @apply flex flex-1 flex-col justify-center space-y-2;
    }
    .why-tria-card-title {
        @apply text-xl font-extrabold;
    }
    .why-tria-card-title2 {
        @apply text-lg font-semibold;
    }
    .passgen {
        @apply my-20 flex h-fit w-full flex-col md:flex-row;
    }
    .input-side {
        @apply flex w-full flex-col;
    }
    .stars {
        @apply w-28 max-w-min self-center;
    }
    .inputs {
        @apply flex flex-col items-center space-y-4;
    }
    .input-group {
        @apply flex w-full flex-col items-stretch px-10 text-start;
    }
    .label {
        @apply mb-1 px-4;
    }
    .input {
        @apply rounded-3xl border border-blue px-4 py-1 outline-none transition-all duration-1000;
    }
    .help-side {
        @apply w-full space-y-2 px-5 py-10 text-center md:px-20 md:text-start;
    }
    .help-text {
        @apply list-outside list-disc md:list-inside;
    }
    .goodlock {
        @apply text-3xl font-extrabold text-blue transition-all duration-1000 hover:text-green;
    }
    .footer {
        @apply flex h-20 w-full items-center justify-center bg-blue text-center text-white;
    }
    .footer-text {
        @apply flex text-sm;
    }
    .we {
        @apply mx-2 font-extrabold;
    }
    .toast-area {
        @apply absolute bottom-0 px-10 py-3 transition-all duration-700;
    }
    .toast-bg {
        @apply rounded-xl bg-blue px-6 py-2 text-white;
    }
}
