@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400 800;
        font-display: swap;
        src: url(./fonts/Figtree-VariableFont_wght.ttf) format('truetype');
    }

    html,
    body {
        overflow-x: hidden;
        font-family: 'Figtree', sans-serif;
    }
    body {
        overflow: hidden;
    }
}
@layer components {
    html,
    body {
        @apply bg-white;
    }
    .navbar {
        @apply top-0 right-0 flex w-screen flex-col bg-white px-12 py-3 shadow-md md:absolute md:flex-row;
    }
    .logo-side {
        @apply flex flex-none justify-center;
    }
    .btn-menu {
        @apply absolute top-0 right-0 flex p-5 md:hidden;
    }
    .nav-items {
        @apply mt-5 flex flex-1 flex-col items-start space-y-3 overflow-hidden capitalize transition-[height] duration-1000 md:mx-6 md:mt-0 md:flex-row md:items-end md:space-x-3;
    }
    .nav-item {
        @apply w-full text-center text-base text-black transition-all duration-500 hover:text-blue md:w-fit md:text-sm;
    }
    .hero {
        @apply flex h-screen flex-col justify-center px-3 md:flex-row md:flex-nowrap md:pl-12 md:pr-0;
    }
    .hero-text-side {
        @apply flex h-full w-full flex-1 flex-col justify-center space-y-3 text-center md:text-start;
    }
    .hero-image-side {
        @apply -mt-32 flex  h-full w-full flex-1 justify-center md:mt-0;
    }
    .hero-title {
        @apply text-3xl font-extrabold leading-snug tracking-tight md:text-[2.8rem];
    }
    .hero-description {
        @apply text-base font-medium;
    }
    .buttons {
        @apply flex flex-row flex-nowrap justify-center space-x-3 md:justify-start;
    }
    .btn-green,
    .btn-blue {
        @apply rounded-full py-1 px-4 text-base font-semibold capitalize text-white;
    }
    .btn-blue {
        @apply bg-blue;
    }
    .btn-green {
        @apply bg-green;
    }
}
